@import 'tailwindcss';

/* globals.css */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.314);
    border-radius: 10px;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 2, 6, 23; /* slate-950 */
}

/* Full body background */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #020617;
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  overflow-x: hidden;
}

/* Standard modern selection color */
::selection {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

/* Custom Scrollbar for site */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Glassmorphism utility jodi proyojon hoy */
.glass-effect {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}